$body-font: 'Open Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
}
// * {
//     border: 1px solid red;
// }

.container {
    width: 100%;
    max-width: 1200px;
    padding: 15px;
}