.Grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.Grid-cell {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.Grid--flexCells > .Grid-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Grid--top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.Grid--bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.Grid--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Grid--justifyCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Grid-cell--top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.Grid-cell--bottom {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.Grid-cell--center {
  -ms-flex-item-align: center;
  align-self: center; }

.Grid-cell--autoSize {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none; }

.Grid--fit > .Grid-cell {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.Grid--full > .Grid-cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.Grid--1of2 > .Grid-cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.Grid--1of3 > .Grid-cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%; }

.Grid--1of4 > .Grid-cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }

@media (--break-sm) {
  .small-Grid--fit > .Grid-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .small-Grid--full > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .small-Grid--1of2 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .small-Grid--1of3 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%; }
  .small-Grid--1of4 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; } }

@media (--break-md) {
  .med-Grid--fit > .Grid-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .med-Grid--full > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .med-Grid--1of2 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .med-Grid--1of3 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%; }
  .med-Grid--1of4 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; } }

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .large-Grid--full > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .large-Grid--1of2 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .large-Grid--1of3 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%; }
  .large-Grid--1of4 > .Grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; } }

.Grid--gutters {
  margin: -1em 0 1em -1em; }

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em; }

.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em; }

.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em; }

.Grid--guttersXl {
  margin: -2em 0 2em -2em; }

.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em; }

@media (--break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em; }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em; }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em; }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em; } }

@media (--break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em; }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em; }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em; }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em; } }

@media (--break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em; }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em; }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em; }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em; } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 75rem;
  padding: 0.9375rem;
  margin: auto; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  color: #515151; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif; }

h1 {
  font-size: 2.8125rem; }

h2 {
  font-size: 2.1875rem; }

h3 {
  font-size: 1.5625rem; }

h4 {
  font-size: 1.25rem; }

.section-title {
  width: 60%;
  position: relative;
  margin: 1.875rem 0 5rem 0; }
  .section-title:before {
    content: "";
    width: 100%;
    height: .5em;
    position: absolute;
    left: 0.125rem;
    bottom: 0.125rem;
    z-index: -1; }

header {
  height: 31.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#7CBFAB), to(#A4E9C2));
  background: linear-gradient(to right, #7CBFAB, #A4E9C2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  header .header__image-container, header .header__image-border {
    height: 10rem;
    width: 10rem;
    border-radius: 50%; }
  header .header__image-container {
    overflow: hidden;
    margin-bottom: 1.25rem; }
  header .header__image-border {
    border: 3px dotted #2C8579;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header .header__image {
    height: 8.75rem;
    position: relative;
    top: 4px;
    left: 3px; }
  header .header__h1 {
    color: white; }
  header .header__h3 {
    color: #2c8579; }
  header .header__h1, header .header__h3 {
    margin: 0; }

.horiz-card-link,
.vert-card-link {
  text-decoration: none;
  color: #515151; }

.horiz-card {
  width: 100%;
  height: 12.5rem;
  -webkit-box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow; }
  .horiz-card:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.16); }
  .horiz-card__text {
    width: 40%;
    padding: 0.625rem;
    text-align: center; }
  .horiz-card__title {
    font-family: "Open Sans", sans-serif;
    margin: 0; }
  .horiz-card__site {
    font-size: 0.75rem;
    display: block;
    margin-top: 0.625rem; }
  .horiz-card__image {
    width: 60.001%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
    .horiz-card__image:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }

.vert-card {
  width: 12.5rem;
  height: 18.125rem;
  -webkit-box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow; }
  .vert-card:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.16); }
  .vert-card__text {
    padding: 0.625rem;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .vert-card__title {
    font-family: "Open Sans", sans-serif;
    margin: 0; }
  .vert-card__site {
    font-size: 0.75rem;
    display: block;
    margin-top: 0.625rem; }
  .vert-card__image {
    height: 40%;
    width: 100%;
    background: rgba(183, 221, 233, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
    .vert-card__image:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }

.projects {
  padding-bottom: 110px; }

.section-title--projects:before {
  background: #E9B7B7;
  border-radius: 0 10px 10px 0; }

.section-title--projects:after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 1.4375rem;
  right: 0.0625rem; }

.horiz-card__image:before {
  background: rgba(233, 183, 183, 0.35); }

.horiz-card--no-mans-sky .horiz-card__image {
  background-image: url("../img/no-mans-sky.jpg"); }

.horiz-card--hover-scroll .horiz-card__image {
  background-image: url(http://via.placeholder.com/360x160); }

.section-title--work:before {
  background: #B7DDE9; }

.section-title--work:after {
  content: "";
  width: 1.25rem;
  height: .5em;
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
  background: white;
  position: absolute;
  right: -0.875rem;
  bottom: 0.125rem;
  z-index: 100; }

.section-title--experience:before {
  background: #A4E9C2; }

.exp-timeline__date {
  width: 6.875rem;
  height: 2.0625rem;
  background: #A4E9C2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  border-radius: 1.875rem;
  text-align: center;
  padding-top: 0.4375rem;
  position: relative; }
  .exp-timeline__date--start:before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(50% - 0.5rem);
    background: #A4E9C2;
    border-radius: 50%;
    z-index: -1;
    bottom: -0.5rem; }
  .exp-timeline__date--middle:before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(50% - 0.5rem);
    background: #A4E9C2;
    border-radius: 50%;
    z-index: -1;
    bottom: -0.5rem;
    -webkit-box-shadow: 0-2rem 0 #A4E9C2;
    box-shadow: 0-2rem 0 #A4E9C2; }
  .exp-timeline__date--present:before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(50% - 0.5rem);
    background: #A4E9C2;
    border-radius: 50%;
    z-index: -1;
    top: -0.5rem; }

.exp-timeline__h3 {
  font-family: "Open Sans", sans-serif; }
  .exp-timeline__h3--thin {
    font-weight: 400; }
