$off-white: #FBFBFB;

$body-color: #515151;
$green: #A4E9C2;
$dark-green: #7CBFAB;
$darker-green: #2C8579;
$green-gradient: linear-gradient(to right, #7CBFAB, #A4E9C2);

$red: #E9B7B7;
$blue: #B7DDE9;