*,
*:before,
*:after {
    box-sizing: border-box;
}

// Adds extra styling to flexboxgrid.scss container
.container {
    padding: r(15px);
    margin: auto;
}

section {
    margin-top: r(50px);
    padding-bottom: r(80px);
}