.button-wrapper {
    text-align: center;
}

.button {
    min-height: r(56px);
    padding: r(18px);
    font-family: $header-font;
    font-size: r(18px);
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    transition: .2s ease;
    transition-property: background-color;

    &:before {
        @include icomoon;
    }


    &--download {
        background-color: $dark-green;
        color: white;
        margin: r(80px) auto 0;

        @include buttonHover($dark-green);

        &:before {
            content: "\e901";
            margin-right: r(12px);
        }
    }

    &--email {
        background-color: white;
        color: $dark-green;
        margin: r(80px) 0 0;

        @include buttonHover(white);

        &:before {
            content: "\e902";
            color: $dark-green;
            position: relative;
            top: r(1px);
            margin-right: r(12px);
        }
    }
}