.horiz-card,
.vert-card {
    &-link {
        text-decoration: none;
        color: $body-color;
    }

    &__site {
        font-size: r(12px);
        display: inline-block;
        margin-top: r(10px);
        position: relative;

        &:after {
            content: "\e903";
            @include icomoon;
            margin-left: r(4px);
        }
    }
}

.horiz-card {
    width: 100%;
    height: r(200px);
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
    background: $off-white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    transition-property: transform, box-shadow;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.16);
    }

    &__text {
        width: 40%;
        padding: r(10px);
        text-align: center;
    }

    &__title {
        font-family: $body-font;
        margin: 0;
    }

    &__image {
        width: 60.01%; // extra .001 gets rid of weird white gap
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        &:before {
            // Low opacity color overlay. Set background color on specific element
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}


.vert-card {
    width: r(200px);
    height: r(290px);
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16);
    background: $off-white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: .3s ease-in-out;
    transition-property: transform, box-shadow;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.16);
    }

    &__text {
        padding: r(10px);
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-family: $body-font;
        margin: 0;
    }

    &__image {
        height: 55%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;

        &:before {
            // Low opacity color overlay. Set background color on specific element
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}