.experience {
    padding-bottom: 0;

}

.section-title--experience {
    &:after {
        background: $green;
    }
}

// Mixin to place psuedo class dot on top or bottom
@mixin timeline-date-dot($position) {
    content: "";
    width: r(16px);
    height: r(16px);
    position: absolute;
    left: calc(50% - #{r(8px)});
    background: $green;
    border-radius: 50%;
    z-index: -1;

    @if $position == 'top' {
        top: - r(8px);
    } @else if $position == 'bottom' {
        bottom: - r(8px);
    } @else if $position == 'both' {
        bottom: - r(8px);
        box-shadow: 0 - r(32px) 0 $green;
    }
}

.exp-timeline {

    &__date {
        width: r(110px);
        height: r(33px);
        background: $green;
        font-family: $header-font;
        font-weight: 300;
        font-style: italic;
        border-radius: r(30px);
        text-align: center;
        padding-top: r(7px);
        position: relative;

        // Variable that adjusts spacing between timeline dates
        $date-gutter: r(55px);

        &--start {
            margin: 0 auto $date-gutter;
            &:before {
                @include timeline-date-dot('bottom');
            }
        }

        &--middle {
            margin: $date-gutter auto;
            &:before {
                @include timeline-date-dot('both');
            }
        }

        &--present {
            margin: $date-gutter auto 0;
            &:before {
                @include timeline-date-dot('top');
            }
        }
    }

    &__h4 {
        font-family: $body-font;
        margin: 0;
        font-size: r(22px);

        // @media screen and (max-width: $tablet) {
        //     text-align: center;
        // }

        &--thin {
            font-weight: 400;
            margin-bottom: r(15px);
        }
    }

    &__p {
        max-width: r(650px);
        margin: 0;

        &:not(:last-child) {
            margin-bottom: r(10px);
        }
    }

    &__entry {
        display: flex;
        justify-content: center;

        // @media screen and (max-width: $tablet) {
        //     flex-direction: column;
        //     align-items: center;
        // }
    }

    &__logo-wrapper {
        box-sizing: content-box;
        border: 3px dotted $dark-green;
        border-radius: 50%;
        padding: r(15px);
        margin-right: r(27px);
        height: r(40px);
        width: r(40px);

        // @media screen and (max-width: $tablet) {
        //     margin: 0 0 r(15px) 0;
        // }
    }

    &__logo {
        width: r(40px);
        height: r(40px);
    }
}