header {
    height: r(500px);
    background: $green-gradient;
    display: flex;


    .header__ {

        &image-container,
        &image-border {
            height: r(160px);
            width: r(160px);
            border-radius: 50%;
        }

        &image-container {
            overflow: hidden;
            margin: 0 auto r(20px) auto;
        }

        &image-border {
            border: 3px dotted $darker-green;
            text-align: center;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        &image {
            height: r(140px);
            position: relative;
            top: 4px;
            left: 3px;
        }

        &h1 {
            color: white;
        }

        &h3 {
            color: #2c8579;
        }

        &h1,
        &h3 {
            text-align: center;
            margin: 0;
        }
    }
}