.me {
    background: $green-gradient;
    padding-bottom: r(30px);

    &__face {
        width: 100%;
        max-width: r(534px);
        display: block;
        margin: 0 auto r(40px);
        border-radius: 170px;
        position: relative;
    }

    &__p {
        max-width: r(700px);
        margin: r(40px) auto;
    }
}

.section-title--me {
    margin-top: r(50px);

    &:after {
        background: white;
    }
}

.skills {

    &__title {
        color: white;
        margin-bottom: r(10px);
    }

    &__ul {
        list-style-type: none;
        padding-left: 0;
    }

    &__li {
        display: inline-block;
        font-size: r(16px);
        background: white;
        margin: r(5px) auto;
        border-radius: r(15px);
        padding: r(5px) r(12px);
    }
}

.social {
    text-align: center;
    margin: r(100px) 0 0 0;

    &__icon {
        color: white;
        text-decoration: none;
        font-size: r(50px);
        padding: 0 20px;
    }
}