.projects {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: r(60px);
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: url('../img/texture-dots.png');
        opacity: .4;
    }
}

.section-title--projects {

    &:after {
        background: $red;
        border-radius: 0 10px 10px 0;
    }
    &:before {
        // White dot accent on header line
        content: "";
        width: r(12px);
        height: r(12px);
        border-radius: 50%;
        background: white;
        position: absolute;
        top: r(23px);
        right: r(1px);
    }
}

.horiz-card {

    &__image:before {
        background: rgba($red, .35);
    }

    &--no-mans-sky &__image {
        background-image: url('../img/no-mans-sky.jpg');
    }

    &--float-scroll &__image {
        background-image: url('../img/float-scrollbar.jpg');
    }
}