$body-font: 'Open Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;

body {
    font-family: $body-font;
    font-size: r(18px);
    color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
}

h1 {
    font-size: r(45px);
}

h2 {
    font-size: r(35px);
}

h3 {
    font-size: r(25px);
}

h4 {
    font-size: r(20px);
}

p {
    line-height: 1.4em;
}

.section-title {
    width:  60%;
    position: relative;
    margin: 0 0 r(80px) 0;
    z-index: 1;

    @media screen and (max-width: e(519px)) {
        width: 90%;
    }

    @media screen and (max-width: e(349px)) {
        width: 95%;
    }

    &:after {
        content: "";
        width: 100%;
        height: .5em;
        position: absolute;
        left: r(2.5px);
        bottom: r(2px);
        z-index: -1;
    }
}